/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap') */

/* .cinzel-<uniquifier> {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.lora-<uniquifier> {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

:root {
  /* COLOUR PALETTE */
  --bronze: #C08635;
  --bronze-transparent: #c0863575;
  --blue: #328B9D;
  --light-blue: #9CDCE3;
  --oxford: #1D2334;
  --oxford-transparent: #1d2334d2;
  --black: #000000;
  /* FONTS */
  --cinzel: Cinzel, sans-serif;
  --lora: Lora, sans-serif;
}

html {
  background-color: antiquewhite;
}

header {
  background-color: var(--blue);
  display: grid;
  grid-template-columns: 297px 1fr;
  gap: 20px;
  align-items: center;
  padding: 1px 30px;
  border: 7px solid #1d535e;
  border-style: groove;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

header a {
  color: var(--oxford);
}

.button {
  padding: 1px 6px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  color: var(--oxford);
  background-color: var(--light-blue);
  text-decoration: none;
  font-size: 25px;
  font-family: var(--cinzel);
  font-weight: 600;
}

h1 {
  font-family: var(--cinzel);
  font-weight: 700;
  position: absolute;
  top: 200px;
  color: var(--light-blue)
}

article {
  display: block;
  display: flex;
  width: 100%;
  background-color: var(--oxford-transparent);
  position: absolute;
  top: 350px;
  color: #fff
}

article p {
  text-shadow: 2px 2px 5px var(--oxford);
  text-align: justify;
  order: -1;
  margin-top: auto;
  margin-bottom: auto;
}

.hero {
  position: relative;
}

.hero h1 {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 5px var(--oxford);
}

.hero img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  width: 150px;
  height: auto;
  margin: 10px 10px;
  padding: 5px;
  float: right;
}

h2 {
  text-decoration: underline 2px;
  grid-column: 1 / 6;
  justify-self: center;
  font-family: var(--cinzel);
  font-size: 35px;
  color: var(--oxford)
}

p {
  font-family: var(--lora);
  margin: 15px;
  font-size: 18px;
  font-weight: 400;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  margin-top: auto;
  margin-bottom: auto;
  border-top: 2px solid var(--oxford);
  text-align: justify;
  /* background-image: url("/wwr/images/history.webp") */
}

#history-image {
  grid-column: 3 / 4;
  width: 200px;
  justify-self: center;
}

#history1 {
  grid-column: 1 / 6;
}

#history2 {
  grid-column: 1 / 3;
}

#history3 {
  grid-column: 4 / 6;
}

#history4 {
  grid-column: 1 / 6;
}

#history5 {
  grid-column: 1 / 6;
  justify-self: center;
}

figure {
  justify-self: center;
  text-align: center;
}

footer {
  display: block;
  height: 55px;
  background-color: var(--bronze);
  margin-top: 40px;
  border-top: 2px solid var(--black);
}

footer p {
  font-family: var(--lora);
  font-weight: 600;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer img {
  width: 32px;
  height: 32px;
}

.sociallinks {
  display: block;
  position: absolute;
  right: 50px;
  margin: -40px 0px;
}