/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap') */

/* .cinzel-<uniquifier> {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.lora-<uniquifier> {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

:root {
  /* COLOUR PALETTE */
  --bronze: #C08635;
  --bronze-transparent: #c0863575;
  --blue: #328B9D;
  --light-blue: #9CDCE3;
  --oxford: #1D2334;
  --black: #000000;
  --cinzel: Cinzel, sans-serif;
  --lora: Lora, sans-serif;
}

h1 {
  font-family: var(--cinzel);
  font-weight: 700;
  position: absolute;
  top: 200px;
  color: var(--light-blue)
}

article {
  display: block;
  width: 100%;
  background-color: var(--bronze-transparent);
  position: absolute;
  top: 350px;
  color: #fff
}

article p {
  text-shadow: 2px 2px 5px var(--oxford);
}

.hero {
  position: relative;
}

.hero h1 {
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 5px var(--oxford);
}

.hero article img {
  width: 150px;
  height: auto;
  margin: 10px 10px;
  padding: 5px;
  float: right;
}

h2 {
  font-family: var(--cinzel);
  color: var(--black)
}

p {
  font-family: var(--lora);
  margin: 15px;
}

.hero img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.sociallinks {
  text-decoration: none;
}